databricks-course-adf-ssm/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "databricks-course-adf-ssm"
		},
		"ls_movie_history_adls_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"ls_movie_history_adls\""
		},
		"LS_Databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1021-073915-qjp0tuyo"
		},
		"ls_movie_history_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mymoviehistory.dfs.core.windows.net/"
		},
		"tg_proccess_movie_history_properties_pl_proccess_movie_history_parameters_p_environment": {
			"type": "string",
			"defaultValue": "Production"
		},
		"tg_proccess_movie_history_properties_pl_proccess_movie_history_parameters_p_file_date": {
			"type": "string",
			"defaultValue": "2024-12-30"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_movie_history_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Folder Details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_movie_history_bronze",
								"type": "DatasetReference",
								"parameters": {
									"p_dt_file_date": {
										"value": "@pipeline().parameters.p_file_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folde Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Folder Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Folder Details').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "email error",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/utils/02.mail-error"
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Ingest Movie File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/01.Ingestion_file_movie",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Language File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/02.Ingestion_file_language",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Genre File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/03.Ingestion_file_genre",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Country File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/04.Ingestion_file_country",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Person File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/05.Ingestion_file_person",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Genre File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/06.Ingestion_file_movie_genre",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Cast File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/07.Ingestion_file_movie_cast",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Language Role File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/08.Ingestion_file_language_role",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Production Company Folder",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/09.Ingestion_folder_production_company",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Company Folder",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/10.Ingestion_folder_movie_company",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Language Folder",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/11.Ingestion_folder_movie_language",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Production Country Folder",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/Ingestion/12.Ingestion_folder_production_country",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_environment": {
						"type": "string",
						"defaultValue": "Production"
					},
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-18T09:51:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_movie_history_bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_proccess_movie_history')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_movie_history_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_environment": {
									"value": "@pipeline().parameters.p_environment",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@pipeline().parameters.p_file_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Transformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transformation_movie_history_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_file_date": {
									"value": "@pipeline().parameters.p_file_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_environment": {
						"type": "string",
						"defaultValue": "Production"
					},
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-18T11:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_movie_history_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transformation_movie_history_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transformation_movie_history_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Folder Details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_movie_history_bronze",
								"type": "DatasetReference",
								"parameters": {
									"p_dt_file_date": {
										"value": "@pipeline().parameters.p_file_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Folde Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Folder Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Folder Details').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "email error",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/utils/02.mail-error"
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Transformation results movie genre languages",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/infodoculaboral@gmail.com/databricks-course/movie-history/demo/03.join_ejercicio",
										"baseParameters": {
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-18T11:03:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_movie_history_bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_movie_history_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_history_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_dt_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_dt_file_date",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"countryId": {
							"type": "integer"
						},
						"countryIsoCode": {
							"type": "string"
						},
						"countryName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_history_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-155000116329766.6.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/103994b5-32ef-413f-a002-d5060ad8876c/resourceGroups/rg-databricks-course/providers/Microsoft.Databricks/workspaces/databricks-course-ws",
					"existingClusterId": "[parameters('LS_Databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_movie_history_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_movie_history_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_movie_history_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_proccess_movie_history')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_proccess_movie_history",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_environment": "[parameters('tg_proccess_movie_history_properties_pl_proccess_movie_history_parameters_p_environment')]",
							"p_file_date": "[parameters('tg_proccess_movie_history_properties_pl_proccess_movie_history_parameters_p_file_date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2025-11-18T14:18:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_proccess_movie_history')]"
			]
		}
	]
}